parameters:
    ignoreErrors:
        - '#Result of method React\\Socket\\ServerInterface::close\(\) \(void\) is used#'
        - '#Call to an undefined static method Symfony\\Component\\Process\\ProcessUtils::escapeArgument\(\)#'