language: php

php:
  - 5.6
  - 7.0
  - 7.1

install:
  - rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - composer install

script:
  # check with lock file  
  - ./vendor/bin/phpunit

  # check without lock file  
  - rm composer.lock && rm -rf vendor
  - composer install
  - ./vendor/bin/phpunit

matrix:
  allow_failures:
    - php: nightly

  fast_finish: true

# cache vendors
cache:
  directories:
    - $HOME/.composer/cache

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
